<!-- Renderizar -->
<app-navbar [titulo]="'Buscador de Noticias'" ></app-navbar>
<div class="container">
    <!-- <app-formulario></app-formulario> es el que tiene la informaición del formulario, entonces lo que va hacer es pasarselo a el componente padre( en este caso es el app.component, y el padre va hacer el encargado de hacer la petición hacia la API y una vez que tiene esa información le va pasar esos datos al componente de <app-listado-noticias></app-listado-noticias> y aquí mostrar esos datos recibidos. ) -->
    <app-formulario (parametrosSeleccionados)="buscarNoticias($event)"></app-formulario>
    <app-spinner *ngIf="loading"></app-spinner>
    <app-listado-noticias [listNoticias]="listNoticias"></app-listado-noticias>
</div>